body {
	margin: 0;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	background-color: #f5efe8;

	color: #150202;
	font-size: 1.5rem;
	font-family: 'Gill Sans', sans-serif;
}

.logo {
	font-weight: bold;
	font-size: 1.5em;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}

header {
	display: flex;
	flex-direction: column;
	padding: 1.25rem 2rem;

	background-color: #3c0d7f;

	color: white;
}

header ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 0.25rem;

	list-style: none;
}

header a {
	color: white;
}

main {
	flex-grow: 1;
	
	display: flex;
	flex-direction: column;
}

section {
	padding: 1.25rem 2rem;
}

aside {

	padding: 0.75rem 1rem;

	background-color: #fad3a5;

	
}

footer {
	padding: 1.25rem 2rem;

	background-color: #150202;

	color: white;
}

@media screen and (min-width: 768px) {
	body {
		background-color: lime;
	}

	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}


@media screen and (min-width: 1000px) {
	body {
		background-color: red;
	}

	header ul {
		flex-direction: row;
		gap: 1.25rem;
	}

	main {
		flex-direction: row;
	}

	section {
		flex-grow: 1;
	}

	aside {
		/* min-width: 30%; */
		min-width: 30vw;

		/* border-radius: 50%;

		transform: translateX(-100%); */
	}
}